* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.employee-list {
  width: 60%;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid black;
  background-color: lightgray;
  margin: 10px;
}

.employee-list > img {
  width: 200px;
  height: auto;
  padding: 10px;
}

.employee-info {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

input {
  display: block;
}

img {
  border-radius: 30px;
}
